*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10em;
}

body {
  background-color: #2a2a72;
  background-image: linear-gradient(333deg, #2a2a72 0%, #009ffd 0%);
}